{
    "session_cookie": "your session cookie here",
    "private_leaderboard": "id of private leaderboard you'd like to track",
    "irc_server": "irc server to connect to",
    "irc_password": "irc password",
    "irc_nick": "your irc nickname here",
    "irc_channels": ["#channels-to-connect-to"]
}